


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

::-webkit-scrollbar {
width: 20px;
}

::-webkit-scrollbar-track {
border-radius: 15px;
box-shadow: inset 0 0 10px rgb(0, 0, 0, 0.25);
}

::-webkit-scrollbar-thumb {
border-radius: 15px;
background-color: #e1a0dc;;
}

::-webkit-scrollbar-thumb:hover {
background-color: #e1a0dbd4;
}


main{
position: relative;
bottom: 5px;
background:linear-gradient(to bottom,rgb(255, 255, 255) 50%, #fff 50%);
padding: 0%;
}
a {
    font-size: 18px;
}

header li, header li a {
    font-weight: 500;
    font-size: 35px;
    color: #CCA8D8;
    text-decoration: none;
}



#z5{
position: absolute;
right: 0%;
top: 0%;
z-index: -1;
}


#cart{
    right: 15%;
    top: 3%;
    z-index: 0; 
    transition: .10s;
    ; 

}
#cart:hover {
    transform: translate(0 , -6px );

}


header{  
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
     cursor: pointer;
    }
    

.nav {
 list-style: none;
 align-items: center;
 display: flex;
 margin-top: 50px;
 background-color: var(--secondary-color);
  }

.nav a {
      position: relative;
      left: -150px;
      top: -20px ;
      text-decoration: none;
      justify-content: space-between;
  }

  
.nav li{
      display: inline-block;
      padding: 0px 20px;
    }

.nav li a {
    transition: all 0.3s ease 0s;
}

.nav li a :hover{
    color: #fff;
}

a:hover{
    color: #948dc0;
    font-weight: bold;}

body{
    margin: 0;
    font-family:Verdana;
     }
    
    


/*cart page start------------------------------------------------------------------------------*/


.container{

	max-width: 1200px;

	margin: 0 auto;

}

.container > h1{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;;
}
body .underline {
    height: 5px;
    max-width: 260px;
    background-color: #948dc0;
    margin: 5px 30rem  2rem;
    
    
}
#CC{
    font-size: 20px;

}
.cart{

	display: flex;

}

.cart-products{

	flex: 0.75;

}

.product{

	display: flex;

	width: 100%;

	height: 200px;

	overflow: hidden;

	border: 1px solid silver;

	margin-bottom: 20px;

}

.product:hover{

	border: none;

	box-shadow: 2px 2px 4px rgba(0,0,0,0.2);

	transform: scale(1.01);

}

.product > img{

	width: 300px;

	height: 200px;

	object-fit: cover;

}

.product > img:hover{

	transform: scale(1.04);

}

.product-info{

	padding: 20px;

	width: 100%;

	position: relative;

}

.product-name, .product-price, .product-offer{

	margin-bottom: 20px;

}

.product-remove{

	position: absolute;

	bottom: 20px;

	right: 20px;

	padding: 10px 25px;

	background-color:rgb(228, 63, 132);

	color: white;

	cursor: pointer;

	border-radius: 5px;
    

}

.product-remove:hover{

	background-color: white;

	color: rgb(234, 16, 16);

	font-weight: 600;

	border: 1px solid rgb(238, 10, 10);

}

.product-quantity > input{

	width: 40px;

	padding: 5px;

	text-align: center;

}

.fa{

	margin-right: 5px;

}

.cart-total{

	flex: 0.25;

	margin-left: 20px;

	padding: 20px;

	height: 240px;

	border: 1px solid silver;

	border-radius: 5px;

}

.cart-total p{

	display: flex;

	justify-content: space-between;

	margin-bottom: 30px;

	font-size: 20px;

}

.cart-total a{

	display: block;

	text-align: center;

	height: 40px;

	line-height: 40px;

	background-color: rgb(202, 63, 172);

	color: white;

	text-decoration: none;

}

.cart-total a:hover{

	background-color: rgba(244, 104, 162, 0.89)

}


@media screen and (max-width: 700px){

	.remove{

		display: none;

	}

	.product{

		height: 150px;

	}

	.product > img{

		height: 150px;

		width: 200px;

	}

	.product-name, .product-price, .product-offer{

		margin-bottom: 10px;

	}

}

@media screen and (max-width: 900px){

	.cart{

		flex-direction: column;

	}

	.cart-total{

		margin-left: 0;

		margin-bottom: 20px;

	}

}

@media screen and (max-width: 1220px){

	.container{

		max-width: 95%;

	}

}


.removeall{


	bottom: 1000px;
    width: 300px;
	padding: 10px 25px;
	background-color:rgb(228, 63, 132);
	color: white;
    padding-right: 40px;
    display: flex;
    justify-content :center;
    align-items: center;
    margin: 50px 0;
    margin-left: 20px;
	

}
.removeall:hover{

	background-color: white;

	color: rgb(234, 16, 16);

	font-weight: 600;

	border: 1px solid rgb(238, 10, 10);

}



/*footer css*/
  
footer {
    position: relative;
    width: 100%;
    background-color: #CCA8D8;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


footer .social_icon , footer .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}


footer .social_icon li ,
footer .menu li {
    list-style: none;
}

footer .social_icon li a {
    font-size: 2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

.social_icon img,
.social img {
    width: 40px;
    height: 40px;
}
.social .twitt,
.social_icon .twitt {
    width: 50px;
    height: 50px;
}

footer .social_icon li a:hover {
    transform: translateY(-10px);
}

footer .menu li a {
    font-size: 1.3em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    text-decoration: none;
    opacity: 1;
}

footer .menu li a:hover {
    opacity: 0.70;
}

footer p {
    text-align: center;
    color: rgb(255, 255, 255);
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 0.9em;
}



 
.cont_principal {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(212,228,239);
  background: -moz-linear-gradient(top,  rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
  background: -webkit-linear-gradient(top,  rgba(212,228,239,1) 0%,rgba(134,174,204,1) 100%);
  background: linear-gradient(to bottom,  rgba(212,228,239,1) 0%,rgba(134,174,204,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#86aecc',GradientType=0 );
  
  } 
.cont_breadcrumbs {
    width: 350px;
  }
 
   
  
  .cont_breadcrumbs_2 {
    position: relative;
    width: 100%;
    float: left;
    margin: 0px;
    
  }
  
  .cont_breadcrumbs_2 > ul > li {
    position: relative;
    float: left;
    transform: skewX(-15deg);  
    background-color: #fff;
  box-shadow: -2px 0px 20px -6px rgba(0,0,0,0.5);
  z-index: 1;
  transition: all 0.5s;
  list-style: none;
  }
  
  .cont_breadcrumbs_2 > ul > li:hover {
   background-color: #CFD8DC;
  }
  
  .cont_breadcrumbs_2 > ul > li  > a {
    display: block;
    padding: 10px;
    font-size: 20px;
   transform: skewX(15deg);
   text-decoration:none;
   color: rgb(155, 111, 156);
  font-weight: 300;
  }
  .cont_breadcrumbs_2 > ul > li:last-child {
    background-color: #e1a0dc;
    transform: skew(0deg);
  margin-left: -5px;
  
  }
  
  .cont_breadcrumbs_2 > ul > li:last-child > a {
    color: #fff;
   transform: skewX(0deg);
  }